@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: #F0FFF0;

}
#navbarSupportedContent {
  background: #2F4F4F;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  float: left;
}
#navbarSupportedContent button{
	background-color: #F0FFF0;
	float: right;
	border: 5px solid #2F4F4F;
	padding: 5px;
	width: 100px;
  	height: 50px;
}